*{
    margin: 0px;
    padding: 0px;
}
.blink-it-navbar{
    border-bottom: 2px solid rgb(246, 239, 233);
     position: sticky;
     top: 0px;
     height: 86px;
     background-color: rgb(254, 249, 249) ;
}
.vertical-line{
    border-left:2px solid rgb(246, 239, 233);
     height: 100%;
}
.location>p{

    font-size: 13px;
    color: black;
    font-weight: 600;
}
.search-bar{
    background-color: #f8f8f8;
    border-radius: 8px;
    border:1px solid rgb(246, 239, 233);
    padding: 10px;
    width: 40vw;
    
}
.search-bar>input{
    border: none;
    width: 95%;
    background-color: transparent;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.search-bar>input:focus{
    outline: none;
}
.hero-section-1{
    display: flex;
    justify-content: center;
   align-items: center;
}
.my-scrollable-div-1{
display: flex;
justify-content: center;
align-items: center;
/* make vertical scrollable screen */
overflow-x: auto;
width: 85vw;
margin-inline: auto;
}

.list{
    width: 100%;
    margin:auto;
    padding: auto;
    /* make no wrap to the next line */
    white-space: nowrap;
    
}
.list>div{
    display: inline-block;
    margin: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.my-category{
    display: flex;
    
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 85vw;
   margin-inline: auto;
}

.my-category-div{
    margin-inline: auto;
    justify-content: center;
    width: 85vw;
    margin-top: 30px;
  
}

.my-card{
    width: 190px;
    border-radius: 10px;
    box-sizing: border-box;
}
.time-taken{
    font-size: 9px;
    font-weight: 700;
    color: black;
    width: fit-content;
    padding: 1px 3px;
}
.product-name{
 overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
   
    -webkit-box-orient: vertical;
    line-height: 18px;
    width: 100%;
  
    margin-bottom: 6px;
    margin-top: 6px;
}
.product-name:hover{
    cursor: pointer;
}
.product-weight{
    color:#666666 ;
    font-size: 11px;
}
.product-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px; 
}
.product-btn{
    border: 1px solid rgb(0, 128, 0);
    border-radius: 7px;
    background-color: rgb(241, 246, 246);
    color: rgb(2, 99, 2);
    width: 70px;  
    font-weight: 600; 
}
.my-category-row{
    display: flex;
    justify-content:space-between;

   
}
/* .my-category-row>div{
    margin: 10px;
    
} */
.my-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: 85vw;
}
.row-2{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
}
.row-3{
    color:#666666 ;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    
}
.footer1{
    
    color: black;
}
a{
    color: black;
    text-decoration:none;
   
}
